{% extends 'adm_base.html' %}
{% load staticfiles %}

{% block content %}
    <section class="content-header">
        <h1>成绩管理子系统
            <small>Info</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="{% url 'scoreManagement:welcome' %}"><i class="fa fa-dashboard"></i> 主页</a></li>
            <li class="active">全校成绩查询</li>
        </ol>
    </section>
    <section>
        <div class="modal fade" id="changeScore">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" name="changeForm"
                                onsubmit="return(formValidation2());">&times;
                        </button>
                        <h4 class="modal-title">修改成绩</h4>
                    </div>
                    <div class="modal-body" id="addScoreModal">
                        <form action="{% url 'scoreManagement:change_score' %}">
                            <div class="form-horizontal">
                                {% csrf_token %}
                                <div class="form-group">
                                    <label for="changeYear" class="col-sm-2 control-label">学年：</label>
                                    <div class="col-sm-10">
                                        <input type="text" id="changeYear" class="form-control" name="year" readonly>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="changeSemester" class="col-sm-2 control-label">学期：</label>
                                    <div class="col-sm-10">
                                        <input type="text" id="changeSemester" class="form-control" name="semester"
                                               readonly>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="changeSno" class="col-sm-2 control-label">学生学号：</label>
                                    <div class="col-sm-10">
                                        <input type="text" id="changeSno" class="form-control" name="Sno" readonly>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="changeCno" class="col-sm-2 control-label">课程号：</label>
                                    <div class="col-sm-10">
                                        <input type="text" id="changeCno" class="form-control" name="cno" readonly>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="changeMethod" class="col-sm-2 control-label">考核方式：</label>
                                    <div class="col-sm-10">
                                        <input type="text" id="changeMethod" class="form-control" name="method"
                                               readonly>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="changeCommonScore" class="col-sm-2 control-label">平时成绩：</label>
                                    <div class="col-sm-10">
                                        <input type="text" id="changeCommonScore" class="form-control"
                                               name="commonScore">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="changeFinalScore" class="col-sm-2 control-label">考试成绩：</label>
                                    <div class="col-sm-10">
                                        <input type="text" id="changeFinalScore" class="form-control" name="finalScore">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="changeScore" class="col-sm-2 control-label">总分：</label>
                                    <div class="col-sm-10">
                                        <input type="text" id="zf" class="form-control" name="score">
                                    </div>
                                </div>

                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <div class="center-block">
                            <button id="cancelChange" type="button" class="btn btn-default" data-dismiss="modal">取消修改
                            </button>
                            <button id="sureToChange" type="button" class="btn btn-success">保存修改</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section><!-- 修改成绩 -->

    <section>
        <div class="modal fade" id="deleteScore" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">确认删除成绩信息？</h4>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                        <button id="sureToDelete" type="button" class="btn btn-danger">删除</button>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- 删除成绩 -->


    <section class="content">
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">全校课程成绩表</h3>
                <div></div>
                <pre style=" background:white;height: 10px; border: none ">    </pre>
                &nbsp;&nbsp;&nbsp;&nbsp;<label class=" control-label">学年 &nbsp;</label><select id="year"
                                                                                               style="width: 15%">
                <option value="2016">2016</option>
                <option value="2017">2017</option>
                <option value="2018">2018</option>
                <option value="2019">2019</option>
            </select>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <label class=" control-label">学期 &nbsp;</label><select id="semester" style="width: 15%">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
            </select>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <label class=" control-label">专业 &nbsp;</label><select id="major" style="width: 15%">
                <option value="a">a</option>
            </select>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <label class=" control-label">班级 &nbsp;</label><select id="class" style="width: 15%">
                <option value="ALL">全部</option>
            </select>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <div class="btn-group pull-right ">

                    <button id='change' class="btn btn-info" type="button">
                        <span class="glyphicon glyphicon-pencil"></span>修改
                    </button>
                    <button id='delete' class="btn btn-success" type="button">
                        <span class="glyphicon glyphicon-remove"></span>删除
                    </button>
                </div>
            </div>

            <div class="box-body">
                <table id="all_course_table" class="table table-bordered table-striped">
                    <thead>
                    <tr>
                        <th>序号</th>
                        <th style="display: none">编号</th>
                        <th>学年</th>
                        <th>学期</th>
                        <th>学生学号</th>
                        <th>课程号</th>
                        <th>考核方式</th>
                        <th>平时成绩</th>
                        <th>考试成绩</th>
                        <th>总分</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for course_score in all_course_score %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td style="display: none">{{ course_score.id }}</td>
                            <td>{{ course_score.teaching.mcno.year }}</td>
                            <td>{{ course_score.teaching.mcno.semester }}</td>
                            <td>{{ course_score.sno.username }}</td>
                            <td>{{ course_score.teaching.mcno.cno.cno }}</td>
                            {% if course_score.teaching.mcno.exam_method  == True %}
                                <td>考核</td>
                            {% else %}
                                <td>考察</td>
                            {% endif %}
                            <td>{{ course_score.commen_score }}</td>
                            <td>{{ course_score.final_score }}</td>
                            <td>{{ course_score.score }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>

        </div>
    </section>

{% endblock %}

{% block script %}


    <!-- jQuery 2.2.3 -->
    <script src="{% static 'AdminLTE/plugins/jQuery/jquery-2.2.3.min.js' %}"></script>
    <!-- Bootstrap 3.3.6 -->
    <script src="{% static 'AdminLTE/bootstrap/js/bootstrap.min.js' %}"></script>
    <!-- DataTables -->
    <script src="{% static 'AdminLTE/plugins/datatables/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'AdminLTE/plugins/datatables/dataTables.bootstrap.min.js' %}"></script>
    <!-- SlimScroll -->
    <script src="{% static 'AdminLTE/plugins/slimScroll/jquery.slimscroll.min.js' %}"></script>
    <!-- FastClick -->
    <script src="{% static 'AdminLTE/plugins/fastclick/fastclick.js' %}"></script>
    <!-- AdminLTE App -->
    <script src="{% static 'AdminLTE/dist/js/app.min.js' %}"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="{% static 'AdminLTE/dist/js/demo.js' %}"></script>
    <!-- page script -->
    <script>

        $(function () {
            const year = $('#year').val();
            const semester = $('#semester').val();
            const data = {
                'year': year,
                'semester': semester
            };



            var table = $('#all_course_table').DataTable({
                "paging": true,       <!-- 允许分页 -->
                "lengthChange": true, <!-- 允许改变每页显示的行数 -->
                "searching": true,    <!-- 允许内容搜索 -->
                "ordering": true,     <!-- 允许排序 -->
                "info": true,         <!-- 显示信息 -->
                "autoWidth": false,    <!-- 固定宽度 -->
                "language": {
                    "sProcessing": "处理中...",
                    "sLengthMenu": "显示 _MENU_ 项结果",
                    "sZeroRecords": "没有匹配结果",
                    "sInfo": "显示第 _START_ 至 _END_ 项结果，共 _TOTAL_ 项",
                    "sInfoEmpty": "显示第 0 至 0 项结果，共 0 项",
                    "sInfoFiltered": "(由 _MAX_ 项结果过滤)",
                    "sInfoPostFix": "",
                    "sSearch": "搜索:",
                    "sUrl": "",
                    "sEmptyTable": "表中数据为空",
                    "sLoadingRecords": "载入中...",
                    "sInfoThousands": ",",
                    "oPaginate": {
                        "sFirst": "首页",
                        "sPrevious": "上页",
                        "sNext": "下页",
                        "sLast": "末页"
                    },
                    "oAria": {
                        "sSortAscending": ": 以升序排列此列",
                        "sSortDescending": ": 以降序排列此列"
                    }
                },
                "columnDefs": [{
                    "searchable": false,
                    "orderable": true,
                    "targets": 0
                }],
                "order": [[0, 'asc']]
            });

            $('#year').change(function () {
                const year = $('#year').val();
                const semester = $('#semester').val();
                const data = {
                    'year': year,
                    'semester': semester
                };
                  $.ajax({
                    url: '{% url "scoreManagement:adm_all_course_score" %}',
                    type: 'GET',
                    dataType: 'json',
                    timeout: 5000,
                    data: data,
                    success: function (res) {
                        console.log(res["all_course_score"]);
                        let obj = JSON.parse(res["all_course_score"]);
                        console.log(obj[1]['model']);
                        console.log(typeof(obj[1]['fields']['teaching']));
                        console.log(obj);
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        alert(XMLHttpRequest);
                        alert(textStatus);
                        alert(errorThrown);
                    },
                }
            );

            });


            $('#all_course_table tbody').on('click', 'tr', function (e) {
                if ($(this).hasClass('selected')) {
                    $(this).removeClass('selected');
                } else {
                    table.$('tr.selected').removeClass('selected');
                    $(this).addClass('selected');
                }
            });

            $('#add').click(function () {
                $('#addScore').modal();

            });

            $('#change').click(function () {
                console.log("change car");
                if (table.rows('.selected').data().length) {
                    $("#changeScore").modal();
                    var rowData = table.rows('.selected').data()[0];

                    var inputs = $('#changeScore').find('input');
                    for (let i = 0; i < inputs.length; i++) {
                        $(inputs[i]).val(rowData[i + 1]);
                    }
                } else {
                    alert("请选择一个项目！");
                }
            });
            $('#sureToDelete').click(function () {
                var rowData = table.rows('.selected').data()[0];
                const id = rowData[1];
                const data = {'id': id};
                $.get('{% url "scoreManagement:delete_score" %}',
                    data,
                    function (rec, status) {
                        if (status) {
                            alert('删除成功');
                            table.row('.selected').remove().draw(false);
                        } else {
                            alert('删除失败！');
                        }
                    }
                );
            });

            $('#delete').click(function () {
                if (table.rows('.selected').data().length) {
                    $("#deleteScore").modal();
                    $('#sureToDelete').click(function () {
                        var rowData = table.rows('.selected').data()[0];
                        const id = rowData[1];
                        const x = $('#year').val()
                        const data = {
                            'id': id,
                        };
                        $.get('{% url "scoreManagement:delete_score" %}',
                            data,
                            function (rec, status) {
                                if (status) {
                                    alert('删除成功');
                                    table.row('.selected').remove().draw(false);
                                } else {
                                    alert('删除失败！');
                                }
                            }
                        );
                    });
                } else {
                    alert("请选择一个要删除的项目。");
                }

            });


            $('#sureToChange').click(function () {
                var rowData = table.rows('.selected').data()[0];
                const id = rowData[1]
                const commonScore = $('#changeCommonScore').val();
                const finalScore = $("#changeFinalScore").val();
                const score = $("#zf").val();
                const data = {
                    'id': id,
                    'commonScore': commonScore,
                    'finalScore': finalScore,
                    'score': score,
                };
                $.get(
                    '{% url 'scoreManagement:change_score' %}',
                    data,
                    function (rec) {
                        var tds = Array.prototype.slice.call($('.selected td'));
                        if (rec['status']) {
                            tds[7].innerHTML = rec['newCommonScore'];
                            tds[8].innerHTML = rec['newFinalScore'];
                            tds[9].innerHTML = rec['newScore'];
                            alert('修改成功');
                        } else {

                            alert("修改失败");
                        }
                    }
                );
            });
        })
    </script>
{% endblock %}